<section class="bg-secondary">
  <footer class="mx-auto max-w-screen-2xl px-4 md:px-8">

    <div class="mb-16 grid md:grid-cols-4 gap-12 pt-10">
      <div class="">

        <!-- logo - start -->
        <div class="mb-4 lg:-mt-2">
          <a href="https://webmaissistemas.com.br/" class="inline-flex items-center gap-2 text-xl font-bold text-gray-100 md:text-2xl" aria-label="logo">
            <img
              class="h-10"
              src="{{ images }}/logos/logo-webmais-footer.svg"
              alt="WebMais Sistemas"
              title="WebMais Sistemas"
              width="185"
              height="40"
            >
          </a>
        </div>
        <!-- logo - end -->

        <p class="mb-6 text-gray-200">
          De segunda a sexta das 8h às 18h
        </p>

        <!-- social - start -->
        <div class="flex gap-4">
          <a href="https://www.instagram.com/webmais_sistemas/" target="_blank" class="text-gray-400 transition duration-100 hover:text-primary">
            <svg class="icon size-10" data-icon="social:instagram"></svg>
          </a>

          <a href="https://www.facebook.com/webmaissistemas" target="_blank" class="text-gray-400 transition duration-100 hover:text-primary">
            <svg class="icon size-10" data-icon="social:facebook"></svg>
          </a>

          <a href="https://www.linkedin.com/company/webmais-sistemas/" target="_blank" class="text-gray-400 transition duration-100 hover:text-primary">
            <svg class="icon size-10" data-icon="social:linkedin"></svg>
          </a>

          <a href="https://www.youtube.com/channel/UCfTCVlfTTPXpVoXJDRJ3pRQ" target="_blank" class="text-gray-400 transition duration-100 hover:text-primary">
            <svg class="icon size-10" data-icon="social:youtube"></svg>
          </a>
        </div>
        <!-- social - end -->
      </div>

      <!-- nav - start -->
      <div>
        <h2 class="mb-4 font-bold uppercase tracking-widest text-gray-100">Institucional</h2>

        <nav class="flex flex-col gap-4">
          <div>
            <a href="{{ links.sobre }}" class="text-gray-200 transition duration-100 hover:text-primary">Empresa</a>
          </div>

          <div>
            <a href="{{ links.planos }}" class="text-gray-200 transition duration-100 hover:text-primary">Preços</a>
          </div>

          <div>
            <a href="{{ links.parceiro.maisParceiros }}" class="text-gray-200 transition duration-100 hover:text-primary">Seja um Parceiro</a>
          </div>

          <div>
            <a href="{{ links.parceiro.consultorParceiro }}" class="text-gray-200 transition duration-100 hover:text-primary">Consultores Parceiros</a>
          </div>

          <div>
            <a href="{{ links.blog }}" class="text-gray-200 transition duration-100 hover:text-primary">Blog</a>
          </div>

          <div>
            <a href="{{ links.trabalhe }}" class="text-gray-200 transition duration-100 hover:text-primary">Trabalhe Conosco</a>
          </div>
        </nav>

      </div>
      <!-- nav - end -->

      <!-- nav - start -->
      <div>
        <h2 class="mb-4 font-bold uppercase tracking-widest text-gray-100">Produtos</h2>

        <nav class="flex flex-col gap-4">
          <div>
            <a href="{{ links.produto.industrias }}" class="text-gray-200 transition duration-100 hover:text-primary">Sistema ERP para Indústria</a>
          </div>

          <div>
            <a href="{{ links.produto.distribuidoras }}" class="text-gray-200 transition duration-100 hover:text-primary">Sistema ERP para Distribuidora</a>
          </div>

          <div>
            <a href="{{ links.produto.analytics }}" class="text-gray-200 transition duration-100 hover:text-primary">BI WebMais Analytics</a>
          </div>

          <div>
            <a href="{{ links.produto.nfe }}" class="text-gray-200 transition duration-100 hover:text-primary">Sistema para NF-e</a>
          </div>

          <div>
            <a href="{{ links.produto.app }}" class="text-gray-200 transition duration-100 hover:text-primary">App Força de Vendas</a>
          </div>

          <div>
            <a href="{{ links.produto.wms }}" class="text-gray-200 transition duration-100 hover:text-primary">Sistema WMS</a>
          </div>
        </nav>

      </div>
      <!-- nav - end -->

      <!-- nav - start -->
      <div>
        <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">Atendimento</div>

        <nav class="flex flex-col gap-4">
          <div>
            <span class="text-gray-200 font-bold uppercase">(48) 3512-7777</a>
          </div>

          <div>
            <a href="https://webmaissistemas.movidesk.com/" target="_blank" class="text-gray-200 transition duration-100 hover:text-primary">Área do Cliente</a>
          </div>

          <div>
            <a href="{{ links.lgpd }}" class="text-gray-200 transition duration-100 hover:text-primary">Política de Privacidade</a>
          </div>
        </nav>
      </div>
      <!-- nav - end -->
    </div>

    <div class="border-t border-gray-800 py-8 text-center text-sm text-gray-400">Webmais Sistemas Ltda. | 07.698.596/0001-94<br>Todos os direitos reservados</div>
  </footer>
</section>