<!-- Google Tag Manager -->
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  {% include 'components/gtm.twig' with {'part': 'head'} %}
  
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:locale" content="pt_BR">

  <title>WebMais Sistemas: ERP para Indústrias e Distribuidoras</title>
  <meta property="og:title" content="WebMais Sistemas: ERP para Indústrias e Distribuidoras">

  <meta name="description" content="Somos especialistas em ERP e sistema de gerenciamento de indústrias e distribuidoras. Conheça nossas soluções e agende uma demonstração gratuita!">
  <meta property="og:description" content="Somos especialistas em ERP e sistema de gerenciamento de indústrias e distribuidoras. Conheça nossas soluções e agende uma demonstração gratuita!">

  <link rel="canonical" href="https://webmaissistemas.com.br/" />
  <meta property="og:url" content="https://webmaissistemas.com.br/">
  <meta property="og:site_name" content="WebMais Sistemas">
  <meta property="og:image" content="{{ images }}/layout/webmais.webp" />
  <meta property="og:image:alt" content="WebMais Sistemas - ERP para Indústrias e Distribuidoras" />
  <meta property="og:type" content="website">
  <meta name="theme-color" content="">

  <meta property="fb:app_id" content="webmais" />
  <meta name="apple-mobile-web-app-status-bar-style" content="">
  <meta name="msapplication-navbutton-color" content="">
  <meta name="google-site-verification" content="lkdYmkpN3iYdI_iy9YLboKkx4f-KqIao2DqGUYEsEjM" />
  <meta name="facebook-domain-verification" content="2p99cjpj3ygbdtvemywlno0nih0b7x" />
  <meta name="rating" content="General">
  
  <link rel="shortcut icon" type="image/x-icon" href="{{ images }}/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ images }}/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ images }}/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ images }}/favicon/favicon-16x16.png">

  <script type="application/ld+json">
  {"@context":"https://schema.org","@type":"WebPage","@id":"https://webmaissistemas.com.br/","url":"https://webmaissistemas.com.br/","name":"WebMais Sistemas: ERP para indústrias e distribuidoras","thumbnailUrl":"https://webmaissistemas.com.br/static-core/images/webmais.webp","datePublished":"2025-06-03T10:20:01+00:00","dateModified":"2025-06-03T10:20:01+00:00","description":"Com o sistema WebMais, sua indústria ou distribuidora ganha controle total da produção, vendas, estoque, financeiro e muito mais.","inLanguage":"pt-BR","isPartOf":{"@type":"WebSite","@id":"https://webmaissistemas.com.br/#website","url":"https://webmaissistemas.com.br/","name":"WebMais Sistemas","description":"WebMais Sistemas","inLanguage":"pt-BR","publisher":{"@type":"Organization","@id":"https://webmaissistemas.com.br/#organization","name":"WebMais Sistemas","alternateName":"Sistemas para indústrias e distribuidoras","url":"https://webmaissistemas.com.br/","sameAs":["https://www.linkedin.com/company/webmais-sistemas/"],"logo":{"@type":"ImageObject","@id":"https://webmaissistemas.com.br/#/schema/logo/image/","inLanguage":"pt-BR","url":"https://webmaissistemas.com.br/static-core/images/layout/logo-webmais.webp","contentUrl":"https://webmaissistemas.com.br/static-core/images/layout/logo-webmais.webp","width":210,"height":60,"caption":"WebMais Sistemas"}}},"potentialAction":{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://webmaissistemas.com.br/?s={search_term_string}"},"query-input":{"@type":"PropertyValueSpecification","valueRequired":true,"valueName":"search_term_string"}},"about":{"@type":"Organization","@id":"https://webmaissistemas.com.br/#organization","name":"WebMais Sistemas","alternateName":"Sistemas para indústrias e distribuidoras","url":"https://webmaissistemas.com.br/","sameAs":["https://www.linkedin.com/company/webmais-sistemas/"],"logo":{"@type":"ImageObject","@id":"https://webmaissistemas.com.br/#/schema/logo/image/","inLanguage":"pt-BR","url":"https://webmaissistemas.com.br/static-core/images/layout/logo-webmais.webp","contentUrl":"https://webmaissistemas.com.br/static-core/images/layout/logo-webmais.webp","width":210,"height":60,"caption":"WebMais Sistemas"},"image":{"@type":"ImageObject","@id":"https://webmaissistemas.com.br/#/schema/logo/image/","inLanguage":"pt-BR","url":"https://webmaissistemas.com.br/static-core/images/layout/logo-webmais.webp","contentUrl":"https://webmaissistemas.com.br/static-core/images/layout/logo-webmais.webp","width":210,"height":60,"caption":"WebMais Sistemas"}},"primaryImageOfPage":{"@type":"ImageObject","@id":"https://webmaissistemas.com.br/#primaryimage","inLanguage":"pt-BR","url":"https://webmaissistemas.com.br/static-core/images/webmais.webp","contentUrl":"https://webmaissistemas.com.br/static-core/images/webmais.webp","width":1280,"height":720},"image":{"@type":"ImageObject","@id":"https://webmaissistemas.com.br/#primaryimage","inLanguage":"pt-BR","url":"https://webmaissistemas.com.br/static-core/images/webmais.webp","contentUrl":"https://webmaissistemas.com.br/static-core/images/webmais.webp","width":1280,"height":720},"breadcrumb":{"@type":"BreadcrumbList","@id":"https://webmaissistemas.com.br/#breadcrumb","itemListElement":{"@type":"ListItem","position":1,"name":"Home","potentialAction":{"@type":"ReadAction","target":{"@type":"EntryPoint","urlTemplate":"https://webmaissistemas.com.br/"}}}}}
  </script>
 
{{ vite_css('src/assets/js/main.js') }}